body{
    background-color:#22331f;
}
header{
    margin: 10px 10px 5px;
    vertical-align: center;
    display:inline-block;
    color: aliceblue;
}
h1{
    font-family: monospace;
    font-weight:bolder;
    font-size: 30px;
    display:inline-block ;
}
main{
    vertical-align: baseline;
    display: inline-block;
    
}
ul li{
    text-decoration: none;
    font-family: monospace;
    font-weight:bolder;
    font-size: 25px;
    margin: 15px;
    display: inline-block;
}
a{ color: #ffff;
    text-decoration: none;
}
h2{
    font-family: monospace;
    font-weight:bolder;
    margin: 10px 10px 5px;
    font-size: 35px;
    color:#ffff;
}

.carros_suvs{
    margin-left: 10px;
}
.renegade_tag{
    position:relative;
    top:0px; 
    left:0px;
}

.renegade_div{
    position:absolute; 
    top:110px; 
    left:6px;
}

#renegade_capa{
    position: absolute;
    width: 200px;
    height: 500px;
    object-fit: cover;
    object-position: 81%;
    border-radius: 50px;
}

.renegade_logo{
    position:relative;
    top: 345px;
    left: 58px;
}

.bmw_tag{
    position:relative; 
    bottom:140px; 
    left: 195px;
}

.bmw_div{
    position:absolute; 
    top:110px; 
    left:6px;
}
#bmw_capa{
    display: inline-block;
    width: 200px;
    height: 500px;
    object-fit: cover;
    object-position: 90%;
    border-radius: 50px;
} 

.bmw_logo{
    width: 50px;
    position:relative;
    top: 330px;
    left:68px;  
}

.mercedes_tag{
    position:relative; 
    bottom:165px; 
    left:195px;
}

.mercedes_logo{
    width: 110px;
    position:relative;
    top: 330px;
    left: 40px;
}

#mercedes_capa{
    display: inline-block;
    width: 200px;
    height: 500px;
    object-fit: cover;
    object-position: 69%;
    border-radius: 50px;
}
.mercedes_div{
    position:absolute; 
    top:110px;
    left:6px;
}
