body{
   background: linear-gradient(72deg, #ccc 1%, #092a49 99%);
}
header {
    padding: 20px 0;
    vertical-align: middle;
    background-color:black;
    margin-bottom:  2px;
}
.caixa{
    margin: 0 auto;
    position: relative;
    width: 980px;
}
 .links{
width: 0px;
padding: 0px;
}
#titulo{
    margin-left: 50px;
    margin-top: 20px;
    vertical-align:bottom;
    display: inline-block;
    font-family:monospace;
    font-weight:bold;
    font-size: 35px;
    color: white;
    
}
nav{
    position: absolute;
    top: 30px;
    right: 20px;
}
nav li{
    margin: 0 0 0 100px;
    display: inline;
}

nav a{  
    vertical-align: middle;
    font-family: monospace;
    font-size: 20px;
    text-transform:uppercase;
    color:honeydew;
    text-decoration:none;
    font-weight: bold;

}
a:active{
    color:goldenrod;
}
nav a:hover{
    color: rgb(75, 158, 158);
    font-size: 17px;
}


/* .renegade_tag{
    position:relative;
    top:0px; 
    left:0px;
}

.renegade_div{
    position:absolute; 
    top:110px; 
    left:6px;
}

#renegade_capa{
    position: absolute;
    width: 200px;
    height: 500px;
    object-fit: cover;
    object-position: 81%;
    border-radius: 50px;
}

.renegade_logo{
    position:relative;
    top: 345px;
    left: 58px;
}

.bmw_tag{
    position:relative; 
    bottom:140px; 
    left: 195px;
}

.bmw_div{
    position:absolute; 
    top:110px; 
    left:6px;
}
#bmw_capa{
    display: inline-block;
    width: 200px;
    height: 500px;
    object-fit: cover;
    object-position: 90%;
    border-radius: 50px;
} 

.bmw_logo{
    width: 50px;
    position:relative;
    top: 330px;
    left:68px;  
}

.mercedes_tag{
    position:relative; 
    bottom:165px; 
    left:195px;
}

.mercedes_logo{
    width: 110px;
    position:relative;
    top: 330px;
    left: 40px;
}

#mercedes_capa{
    display: inline-block;
    width: 200px;
    height: 500px;
    object-fit: cover;
    object-position: 69%;
    border-radius: 50px;
}
.mercedes_div{
    position:absolute; 
    top:110px;
    left:6px;
}
 */
 .content{
     height: 620px;
     width: 980px;
     border-bottom-left-radius: 30px;
     border-bottom-right-radius: 30px;
     overflow: hidden;
     position: absolute;
     top: 405px;
     left: 50%;
     transform: translate(-50%, -50%); /* eixo X eixo Y */
 }
 .nav{
     position: absolute;
     bottom: 20px;
     left: 50%;
     transform: translate(-50%);
     display: flex;
 }
.barra{
    width: 70px;
    height: 17px;
    border: 2px solid #fff;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
}
.barra:hover{
    background-color: #fff;
    transition: .5s;
}
input{
    display: none;
}
.slideshow{
    display: flex;
    width: 300%;
    height: 100%;
}
.slide{
    width: 33.34%;
    transition: .6s;
}
.slide img{
    width: 100%;
    height: 110%;
}
#slide1:checked ~ .s1 {
    margin-left: 0;

}
#slide2:checked ~ .s1{
    margin-left: -33.34%;
}
#slide3:checked ~ .s1{
    margin-left: -66.68%;
}